@import '../partials/styles';

.listings {
    padding: 0 1rem 5rem;
    
    @include small-tablet {
        padding: 1rem 0.5rem 1rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}