/* Colours */
$primary-color-1: #FFF;
$primary-color-2: #E8E8E8;
$primary-color-3: #333;
$primary-color-4: #5794FF;
$primary-color-5: #2574FF;
$primary-color-6: #92b9ff;

/* Breakpoints */
$small-tablet-breakpoint: 620px;
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1000px;
